$foreground-rgb: rgb(0, 0, 0);
$txtCo: rgb(0, 0, 0);
$background-start-rgb: rgb(190, 61, 22);
$background-end-rgb: rgb(169, 98, 6);
$white-rgb: rgb( 255, 255, 255);
$bg-main: #eee;


@mixin sm{
@media (max-width:480px) {
    @content;
}
}
@mixin md{
    @media (max-width:768px) {
        @content;
    }
}
    

